In [1]:
import pandas as pd

with open("adult.test", "r") as f:
    lines = f.readlines()
    lines = [line.replace('.','') for line in lines[1:]]
    data_valid = pd.DataFrame([line.strip().split(", ") for line in lines])
    
# print(data_valid)

data_train = pd.read_csv('adult.data', header = None)
data_train = data_train.replace(' ', '', regex=True)

print(data_train.shape)
print(data_valid.shape)

print(data_train.head())

(32561, 15)
(16282, 15)
   0                 1       2          3   4                   5   \
0  39         State-gov   77516  Bachelors  13       Never-married
1  50  Self-emp-not-inc   83311  Bachelors  13  Married-civ-spouse
2  38           Private  215646    HS-grad   9            Divorced
3  53           Private  234721       11th   7  Married-civ-spouse
4  28           Private  338409  Bachelors  13  Married-civ-spouse

                  6              7      8       9     10  11  12  \
0       Adm-clerical  Not-in-family  White    Male  2174   0  40
1    Exec-managerial        Husband  White    Male     0   0  13
2  Handlers-cleaners  Not-in-family  White    Male     0   0  40
3  Handlers-cleaners        Husband  Black    Male     0   0  40
4     Prof-specialty           Wife  Black  Female     0   0  40

              13     14
0  United-States  <=50K
1  United-States  <=50K
2  United-States  <=50K
3  United-States  <=50K
4           Cuba  <=50K

In [2]:
data_train.columns = ['age','workclass','fnlwgt','education','educational_num','marital-status','occupation','relationship','race','gender','capital-gain','capital-loss', 'hours-per-week','native-country','income']
data_valid.columns = ['age','workclass','fnlwgt','education','educational_num','marital-status','occupation','relationship','race','gender','capital-gain','capital-loss', 'hours-per-week','native-country','income']


data_train['income'].replace({"<=50K":0, ">50K":1}, inplace = True)
data_valid['income'].replace({"<=50K":0, ">50K":1}, inplace = True)
data_train.head()

,age,workclass,fnlwgt,education,educational_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [3]:
count_before_tr = 0
count_before_va = 0

for i in range(len(data_train)):
    for j in range(len(data_train.columns)):
        if data_train.iloc[i][j] == "?":
            count_before_tr += 1

for i in range(len(data_valid)):
    for j in range(len(data_valid.columns)):
        if data_valid.iloc[i][j] == "?":
            count_before_va += 1
        
print(count_before_tr)
print(count_before_va)

4262
2203

In [4]:
for col in data_train:
    mode = data_train[col].mode().values[0]
    data_train[col].replace("?", mode, inplace = True)

In [5]:
for col in data_valid:
    mode = data_train[col].mode().values[0]
    data_valid[col].replace("?", mode, inplace = True)

In [6]:
count_after_tr = 0
count_after_va = 0

for i in range(len(data_train)):
    for j in range(len(data_train.columns)):
        if data_train.iloc[i][j] == "?":
            count_after_tr +=1

for i in range(len(data_valid)):
    for j in range(len(data_valid.columns)):
        if data_train.iloc[i][j] == "?":
            count_after_tr +=1
        
print(count_after_tr)
print(count_after_va)

0
0

In [7]:
print(data_train.shape)
print(data_valid.shape)

(32561, 15)
(16282, 15)

In [9]:
data_train.to_csv('data_train.csv', index=False)
data_valid.to_csv('data_valid.csv', index=False)